/_build
/cover
/deps
erl_crash.dump
*.ez
/assets/node_modules
/assets/report*.json
node_modules
*.iml
/.idea
.DS_Store
*.secret.exs
*.secret.json
.deliver/releases/
/rel/*/**
/priv/static
log/
crypto/*.key
config/*.key
crypto/*.log
crypto/crypto
crypto/secret/
log.log
*.sock
lib/app_count_com/**/*.html.eex
.elixir_ls/
routes.txt
keys/*.pem
