<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Apply Now</title>
  <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/application_form.css") %>">
  <script src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>

</head>
<body>
  <header class="app-header d-flex justify-content-between">
    <h2 class="text-success">Dasmen Residential Rental Application</h2>
  </header>
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card">
        <div class="card-body">
          <p>Hello, you are about to apply to the <%= @property.name %> property.  Although we worked hard to design an interface
          that is intuitive and easy to understand, for whatever reason we still need an instructions page.  So here it is.  We hope
          you enjoyed reading it, and have a nice time filling out the application.</p>
          <p class="text-center">
            <%= link "Begin Application", to: Routes.application_form_path(@conn, :index, @property.code), class: "btn btn-success btn-lg" %>
          </p>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
