$blue: #36a9e1;
$width: 24px;
label.fancy-check {
  position: relative;
  margin-bottom: 0;
  cursor: pointer;
  input[type=checkbox] {
    display: none;
    & + .checkbox {
      position: relative;
      width: $width;
      height: $width;
      border: 1px solid #ddd;
      border-radius: 4px;
      transition: 0.3s all ease;
      &:before, &:after {
        position: absolute;
      }
      & + .wipe {
        position: absolute;
        width: $width - 2px;
        height: $width - 2px;
        top: 1px;
        left: 1px;
        background: transparent;
        border-radius: 4px;
      }
    }
    &:checked + .checkbox {
      background: $blue;
      &:before, &:after {
        content: '';
        border-bottom: 3px solid #fff;
      }
      &:before {
        width: 14px;
        top: 10px;
        left: 6px;
        transform: rotate(-47deg);
      }
      &:after {
        width: 6px;
        top: 12px;
        left: 4px;
        transform: rotate(47deg);
      }
      & + .wipe {
        transition: 0.6s width ease 0.1s, 0.6s left ease 0.1s;
        background: $blue;
        width: 0;
        left: 24px;
      }
    }
  }
}