#loading-container {
  #loader {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10000;
    opacity: 0.6;
    background: white;
    align-items: center;
    justify-content: center;
    #spinner {
      font-size: 50px;
    }
    & > div {
      width: 200px;
      height: 200px;
      overflow: hidden;
      margin: 0 auto;
      outline: none;
    }
  }
}