<p>
  Credit cards cannot be updated in our system at this time. If you would like
  to update this payment method, please deactivate this one and enter your
  credit card details as a new card. Thank you!
</p>
