<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Schedule a Tour</title>
  <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/showings.css") %>">

  <script src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  <script>
      window.PROPERTY_ID = <%= @property.id %>;
  </script>
</head>
<body>
  <header class="app-header d-flex align-items-center justify-content-between">
    <h2 class="text-success d-flex align-items-center">
    <%= if @property.icon do %>
      <div class="property-logo">
        <img src=<%= @property.icon %> />
      </div>
    <% end %>
    Schedule a Tour for <%= @property.name %>
    </h2>
    <div class="mr-4">
      <%= if @property.website do %>
        <a href="<%= @property.website %>" target="_blank" class="btn btn-lg btn-outline-success"><%= @property.name %></a>
      <% end %>
      <a href="/<%= @property.code %>" class="btn btn-lg btn-outline-success">Apply Online</a>
    </div>
  </header>
  <div id="schedule-showing" data-property="<%= @property.id %>"></div>
  <script src="<%= Routes.static_path(@conn, "/js/showings.js") %>"></script>
</body>
</html>

